body{
    font: 20px Arial, san-serif;
    font
}
.navbar {
    background-color: #9BEAE3;
}

.quem-somos {
    background-color: #50CCE8 ;
    /* definir a cor da letra */
    color: white;
    
}

.margin {
    /* margin-top: 5px; */
    padding-top: 25px ;
    padding-bottom: 25px;
    
}

.parceiros{
    background-color: #50ACE8;
    color: white;
}

.bg-footer{
    background-color: rgb(4, 8, 68);
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}